{% load allauth %}
{% comment %} djlint:off {% endcomment %}

{% if attrs.href %}
  <a href="{{ attrs.href }}"
     {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
     {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
     {% if attrs.value %}value="{{ attrs.value }}"{% endif %}
     {% if attrs.form %}form="{{ attrs.form }}"{% endif %}
     {% if attrs.type %}type="{{ attrs.type }}"{% endif %}>
    {% slot %}
  </a>
{% else %}
  <button
     {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
     {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
     {% if attrs.value %}value="{{ attrs.value }}"{% endif %}
     {% if attrs.form %}form="{{ attrs.form }}"{% endif %}
     {% if attrs.type %}type="{{ attrs.type }}"{% endif %}>
    {% slot %}
  </button>
{% endif %}