body, 
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Fonts */
.libre-baskerville {
  font-family: "Libre Baskerville", serif;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

/* Top bar */
.top-bar {
  background-color: #ede6d7;
  color: #333;
  text-align: center;
  padding: 10px 0;
}

/* Main navigation */
.main-nav {
  background-color: #4d5252;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* Header main */
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 50px;
  height: auto;
  margin-right: 15px;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 24px;
  color: #333;
  margin: 0;
}

.subtitle {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #666;
  margin: 0;
}

/* Search bar */
.search-bar {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.search-bar input {
  border: none;
  padding: 10px;
  width: 300px;
}

.search-bar button {
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* User actions */
.user-actions {
  display: flex;
  align-items: center;
}

.user-actions > * {
  margin-left: 15px;
}

.login-button {
  background-color: #4d5252;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

/* Category navigation */
.category-nav {
  background-color: #fff;
  padding: 15px 0;
  border-top: #dbdfdf 1px solid;
  border-bottom: #dbdfdf 1px solid;
}

.category-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.category-nav li {
  margin: 0 15px;
}

.category-nav a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.category-nav a:hover {
  color: #4d5252;
}

/* Hero section */
.hero-section {
  background-size: cover;
  background-position: center;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  padding-right: 10%;
  position: relative;
}

.hero-content {
  /* background-color: rgba(255, 255, 255, 0.7); */
  padding: 20px;
  border-radius: 10px;
  max-width: 550px;
  max-height: 400px;
  right: 1%;
  top: 2%;
  position: absolute;
}

.hero-section h2 {
  font-size: 4.1rem;
  margin-bottom: 20px;
  color: #4d5252;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 1);
  position: relative;
  z-index: 1;
}

.cta-button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #4d5252;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1;
}

.cta-button:hover {
  background-color: #3a3f3f;
}