{% extends 'base.html' %}
{% load static %}

{% block title %}Order Success - The Literary Loft{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/order_success.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4 successful-order">Thank You!</h1>
    <p>Your order <span class="order-number">#{{ order.order_number }}</span> has been placed successfully.</p>

    {% if not user.is_authenticated %}
    <p>A confirmation email has been sent to {{ order.guest_email }}.</p>
    {% endif %}

    <!-- Order Recap -->
    <h2 class="mt-5 order-summary">Order Summary</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr class="order-summary-table-heading">
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td>{{ item.book.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>£{{ item.price }}</td>
                    <td>£{{ item.item_total }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right"><strong>Order Total:</strong></td>
                    <td>£{{ order.order_total }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-right"><strong>Delivery:</strong></td>
                    <td>£{{ order.delivery_cost }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-right"><strong>Grand Total:</strong></td>
                    <td><strong>£{{ order.grand_total }}</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>

    {% if not user.is_authenticated %}
    <div class="mt-4 alert alert-info">
        <p>Thank you for your purchase! To easily access your order history in the future, consider
            <a href="{% url 'books:register' %}" aria-label="register user">creating an account</a>.</p>
    </div>
    {% else %}
    <p>You can view your <a href="{% url 'checkout:order_history' %}"
        aria-label="order history">order history here</a>.</p>
    {% endif %}
</div>
{% endblock %}