{% extends "base.html" %}
{% load static %}

{% block title %}Set New Password - The Literary Loft{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}" />
{% endblock %}

{% block content %}
<div class="password-reset-confirm-container container-fluid">
  <div class="password-reset-confirm-form col-11 col-md-6 col-lg-4">
    <h2>Set New Password</h2>
    {% if validlink %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.new_password1.id_for_label }}">New password</label>
          {{ form.new_password1 }}
        </div>
        <div class="form-group">
          <label for="{{ form.new_password2.id_for_label }}">Confirm new password</label>
          {{ form.new_password2 }}
        </div>
        <button type="submit" class="btn btn-reset">
          Set New Password
        </button>
      </form>
    {% else %}
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
      <div class="mt-3 text-center">
        <a href="{% url 'checkout:password_reset' %}" aria-label="request new password reset">Request New Password Reset</a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}