/* Base styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main-content {
    min-height: calc(80vh - 60px);
    overflow-y: auto;
    position: relative;
}

/* Container and section styles */
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.section-content {
    background-color: rgba(217, 211, 211, 0.9);
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
}

/* Typography */
h2.section-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.lead {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Toggle styles */
.section-title.toggleable {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title.toggleable::after {
    content: '+';
    margin-left: 10px;
}

.section-title.toggleable.active::after {
    content: '-';
}

.lead-column {
    display: flex;
    align-items: center;
}

/* Remove bullet points from 'Our Values' section */
#values ul {
    list-style-type: none;
    padding-left: 0;
}

#values li {
    margin-bottom: 10px;
}

/* FAQ styles */
.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  margin-bottom: 0;
  font-size: 1.1rem;
}

.section-title.toggleable.faq-question::after {
  font-size: 1.2rem;
  font-weight: bold;
}

/*-------------------------------- Responsive design ----------------------- */
@media (max-width: 768px) {
    h2.section-title {
        font-size: 1.5rem;
    }

    .lead {
        font-size: 1rem;
    }

    .container {
        padding: 0 10px;
    }
}