.btn-warning {
    color: #000;
    /* Set the text color to black for readability */
    font-weight: normal;
}

.btn-danger {
    color: #fff;
    /* Set the text color to white for contrast */
    font-weight: bold;
}