.book-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.book-item {
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 15px;
}

.book-item a {
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.book-cover {
    width: 100%;
    height: 0;
    padding-bottom: 150%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    position: relative;
}

.no-image {
    width: 100%;
    height: 0;
    padding-bottom: 150%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.favorite-btn {
    position: absolute;
    top: -12px;
    right: -12px;
    border: 1px solid #4d5252;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #4d5252;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.favorite-btn.active {
    color: #eb6d6d;
}

.favorite-heading {
    font-family: "Libre Baskerville", serif;
    color: #4d5252;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
}

.text-center {
    text-align: center;
}

#empty-favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.favorite-empty {
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    color: #666;
}

.book-title {
    font-family: "Libre Baskerville", serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.book-author {
    font-family: "Nunito", sans-serif;
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 5px;
}

.book-price {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-to-cart {
    width: calc(100% - 30px);
    background-color: #4d5252 !important;
    color: white !important;
    border: none;
    padding: 8px 12px;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    font-family: "Nunito", sans-serif;
}

.add-to-cart:hover {
    background-color: #3a3f3f !important;
}

.footer {
    margin-top: 2rem;
}

/* ---------------------------- Responsive design --------------------------- */
/* Media query for large screens */
@media (min-width: 768px) {
    .book-item {
        padding-bottom: 50px;
    }
    
    .add-to-cart {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        opacity: 0;
    }

    .book-item:hover .add-to-cart {
        opacity: 1;
    }
}

/* Media query for small screens */
@media (max-width: 767px) {
    .favorite-heading {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: -1.5rem;
    }

    .favorite-empty {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .favorite-btn {
        top: -12px;
        right: -12px;
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
    
    .book-cover {
        padding-bottom: 100%;
    }

    .book-title {
        font-size: .9rem;
        line-height: 1;
    }

    .book-author {
        font-size: .85rem;
        line-height: 1; 
    }

    .add-to-cart {
        font-size: 0.8em;
        padding: 6px 10px;
        width: 100%;
    }

    .footer {
        margin-top: 1.5rem;
    }
}