<div class="row justify-content-center mt-4">
  <div class="col-auto social-icons">
    <a href="https://x.com/" title="X-Twitter" aria-label="link to twitter" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
    <a href="https://facebook.com/" title="Facebook" aria-label="link to facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/" title="Instagram" aria-label= "link to instagram" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>
