<!-- footer_help_contact.html -->
<div class="col-md-3 mb-4">
  <h5>Help and Contact</h5>
  <ul class="list-unstyled footer-nav">
    <li class="footer-item">
      <a href="#" class="footer-link">Terms of Use</a>
    </li>
    <li class="footer-item">
      <a href="#" class="footer-link">Returns</a>
    </li>
    <li class="footer-item">
      <a href="#" class="footer-link">Privacy</a>
    </li>
    <li class="footer-item">
      <a href="{% url 'books:contact' %}" class="footer-link">Contact Us</a>
    </li>
  </ul>
</div>