<div class="col-md-3 mb-4">
  <h5>&nbsp;&nbsp; Other Links</h5>
  <ul class="list-unstyled footer-nav">
    <li class="footer-item">
      <a href="{% url 'books:about' %}" class="footer-link">Our Story</a>
    </li>
    <li class="footer-item">
      <a href="{% url 'books:about' %}#why-your-purchase-matters" class="footer-link">Why Your Purchase Matters</a>
    </li>
    <li class="footer-item">
      <a href="{% url 'books:about' %}#meet-the-team" class="footer-link">Meet the Team</a>
    </li>
    <li class="footer-item">
      <a href="{% url 'books:about' %}#frequently-asked-questions" class="footer-link">FAQ</a>
    </li>
  </ul>
</div>