<!-- footer_other_links.html -->
<div class="col-md-3 mb-4">
  <p class="footer-heading ml-3">Other Links</p>
  <ul class="list-unstyled footer-nav">
    <li class="footer-item">
      <a href="{% url 'books:about' %}" class="footer-link">Our Story</a>
    </li>
    <li class="footer-item">
      <a href="{% url 'books:about' %}#why-your-purchase-matters" class="footer-link">Why Your Purchase Matters</a>
    </li>
    <li class="footer-item">
      <a href="{% url 'books:about' %}#meet-the-team" class="footer-link">Meet the Team</a>
    </li>
    <li class="footer-item">
      <a href="{% url 'books:about' %}#frequently-asked-questions" class="footer-link">FAQ</a>
    </li>
  </ul>
</div>

<!-- footer_help_contact.html -->
<div class="col-md-3 mb-4">
  <p class="footer-heading ml-3">Help and Contact</p>
  <ul class="list-unstyled footer-nav">
    <li class="footer-item">
      <a href="#" class="footer-link">Terms of Use</a>
    </li>
    <li class="footer-item">
      <a href="#" class="footer-link">Returns</a>
    </li>
    <li class="footer-item">
      <a href="#" class="footer-link">Privacy</a>
    </li>
    <li class="footer-item">
      <a href="{% url 'books:contact' %}" class="footer-link">Contact Us</a>
    </li>
  </ul>
</div>

<!-- footer_newsletter.html -->
<div class="col-md-3 mb-4">
  <p class="footer-heading">Receive News, Updates and Special Offers</p>
  <form action="{% url 'books:newsletter' %}" method="post" id="newsletter-form" class="newsletter-form">
    {% csrf_token %}
    <div class="form-group">
      <input 
        type="email"
        class="form-control"
        placeholder="Enter your email address"
        id="newsletter-email"
        name="newsletter-email"
        required
      />
    </div>
    <button
    type="submit"
    class="btn btn-subscribe btn-block"
    aria-label="subscribe to newsletter">Subscribe</button>
  </form>
</div>