<footer class="footer">
  <div class="container">
    <!-- Logo Container -->
    <div class="d-flex justify-content-center logo-container">
      <a href="{% url 'books:index' %}">
        <div class="logo-text">
          <h1 class="main-title">The Literary Loft</h1>
          <p class="subtitle">There is no friend as loyal as a book</p>
        </div>
      </a>
    </div>

    <hr class="footer-divider" />

    <!-- Footer Navigation -->
     <div class="row">
      {% include 'includes/footer_shop_nav.html' %}
      {% include 'includes/footer_other_links.html' %}
    </div>
      
    <!-- Social Media Icons -->
     <div class="footer-social">
      {% include 'includes/footer_social.html' %}
    </div>
  </div>
</footer>
  
    <!-- Copyright Section - Outside the footer container -->
  <div class="footer-bottom">
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-12 text-center">
          <p class="mb-0">&copy; {% now "Y" %} The Literary Loft</p>
          <p class="mb-0">All materials used by Victoria Kalenik only for educational purposes.</p>
        </div>
      </div>
    </div>
  </div>
