{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="keywords"
      content="books, online bookstore, literary books, fiction, non-fiction, 
      classic literature, thriller books, historical fiction, 
      fantasy books, biography books, true stories books, art books, craft books, 
      photography, food and drink books, foraging, educational books, activity books, 
      online book store, literature, bestsellers, novels, book shopping, 
      book lovers, book collection, book store UK, free delivery books, 
      book reviews, popular books, buy books online, cheap books, discount 
      books, The Literary Loft, best place to buy books online, affordable 
      books with free delivery, top children's books for all ages, best mystery 
      books for adults, where to buy rare books online, shop for classic 
      literature, best books for book lovers, best books for book clubs, 
      best books for book collectors, best books for bookworms, best books,
      books for gifts, books for presents, books for birthdays, 
      books for Christmas, books for special occasions, books for all ages, 
      books for all interests, books for all tastes, books for all preferences"      
    />
    
    {% block meta_description %}
    {% endblock %}

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    {% endblock %}

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/favicon/favicon.ico' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicon/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="{% static 'images/favicon/favicon-48x48.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{% static 'images/favicon/android-chrome-192x192.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="256x256"
      href="{% static 'images/favicon/favicon-256x256.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="{% static 'images/favicon/android-chrome-512x512.png' %}"
    />
    <!-- Apple Touch Icon (for iOS devices) -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'images/favicon/apple-touch-icon.png' %}"
    />

    {% block extra_meta %}
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <meta property="og:title" content="Home - The Literary Loft" />
    <meta
      property="og:description"
      content="Your sanctuary for loyal literary friends. Discover books with free UK shipping on orders over £20."
    />
    <meta property="og:image" content="{% static 'images/loft_1.webp' %}" />
    <meta property="og:url" content="{% url 'books:index' %}" />
    <meta property="og:type" content="website" />
    {% endblock %} 
    
    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    {% endblock %} 
    
    {% block extra_css %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    {% endblock %} 
    
    {% block corejs %}
    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        $(".dropdown-toggle").dropdown();
      });
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %} 
    
    {% block extra_js %}
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/flags.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/category_nav.js' %}"></script>
    <script src="{% static 'js/favorites.js' %}"></script>
    {% endblock %} 
    
    {% block title %}
    <title>The Literary Loft - {% block extra_title %}{% endblock %}</title>
    {% endblock %} 
    
    {% csrf_token %}
  </head>
  <body
    class="{% if request.path == '/cart/' %}cart-page{% elif request.path == '/checkout/' %}checkout-page{% endif %}"
  >
    <!-- Toast Notification HTML -->
    <div class="toast-container">
      <div
        id="toastNotification"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <strong class="mr-auto">The Literary Loft</strong>
          <small class="text-muted"></small>
          <button
            type="button"
            class="ml-2 mb-1 close"
            data-dismiss="toast"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          <i class="fas fa-info-circle mr-2"></i>
          Please
          <a href="{% url 'books:login' %}"><strong>log in</strong></a> or
          <a href="{% url 'books:register' %}"><strong>register</strong></a> to
          save books to your favorites.
        </div>
      </div>
    </div>
    <!-- Page Header -->
    {% block page_header %}
    <header>
      <!-- TOP BAR -->
      <div
        class="top-bar d-flex justify-content-center align-items-center flex-column flex-md-row"
      >
        <p class="mb-0 text-center">
          Free shipping to the United Kingdom for orders over £20.00
        </p>
        <div id="top-bar-btn" class="top-bar-btn mt-2 mt-md-0">
          <a href="{% url 'books:book_list' %}" class="btn cta-top-bar-button"
            >Shop Now</a
          >
        </div>
      </div>
      <!-- NAVBAR: MAIN MENU -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-secondary py-1">
        <div
          class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between"
        >
          <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item mx-1">
              <a
                class="nav-link text-white font-weight-bold"
                href="{% url 'books:book_list' %}"
                >All Books
              </a>
            </li>
            <li class="nav-item mx-1">
              <a
                class="nav-link text-white font-weight-bold"
                href="{% url 'books:about' %}"
                >Our Story
              </a>
            </li>
            <li class="nav-item mx-1">
              <a
                class="nav-link text-white font-weight-bold"
                href="{% url 'books:contact' %}"
                >Contact Us
              </a>
            </li>
          </ul>
          <span class="navbar-text text-center mt-0 mt-md-0 ml-md-auto">
            UK Delivery & Worldwide Shipping from £1.99
          </span>
        </div>
      </nav>
      <!-- NAVBAR: SEARCH, BAG, CURRENCY -->
      <div
        class="header-main container-fluid d-flex justify-content-between align-items-center px-5 py-2 justfy-content-md-center"
      >
        <!-- Search bar -->
        <div class="search-bar">
          <input
            type="text"
            id="search-input"
            placeholder="Search by Title, ISBN, or Keyword"
          />
          <button type="submit" id="search-button">
            <i class="fas fa-search"></i>
          </button>
          <div id="suggestions" class="suggestions"></div>
        </div>
        <!-- Logo image -->
        <div class="logo-container">
          <a href="{% url 'books:index' %}">
            <img
              src="{% static 'images/hand_books_darker.png' %}"
              alt="The Literary Loft Logo"
              class="logo-image"
            />
            <!-- Logo text -->
            <div class="logo-text">
              <h1 class="main-title">The Literary Loft</h1>
              <p class="subtitle">There is no friend as loyal as a book</p>
            </div>
          </a>
        </div>

        <!-- User actions -->
        <div class="user-actions dropdown">
          <!-- Cart Icon -->
          <a href="{% url 'books:view_cart' %}" class="cart-icon">
            <i class="fas fa-shopping-bag"></i>
            <span class="cart-count" id="cart-count">{{ cart_count }}</span>
          </a>
          <!-- Favorite Books -->
          <a href="{% url 'books:favorites' %}" class="favorites-icon">
            <i class="fas fa-heart"></i>
            <span class="favorites-count" id="favorite-count"
              >{{ request.user.favorite_books.count }}</span
            >
          </a>

          <!-- Currency Selector -->
          <div class="currency-select-wrapper">
            <select class="currency-select" id="currencySelect">
              <option
                value="GBP"
                data-image-url="{% static 'images/flags/uk_flag.png' %}"
              >
                £
              </option>
              <option
                value="USD"
                data-image-url="{% static 'images/flags/us_flag.png' %}"
              >
                $
              </option>
              <option
                value="EUR"
                data-image-url="{% static 'images/flags/eu_flag.png' %}"
              >
                €
              </option>
            </select>
          </div>

          <!-- User Dropdown -->
          <div class="dropdown">
            <a
              href="#"
              class="btn btn-secondary dropdown-toggle"
              id="userDropdown"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-user" id="user-icon"></i>
              {% if user.is_authenticated %}
              <span>&nbsp; {{ user.first_name }}</span>
              {% else %}
              <span>&nbsp; User</span>
              {% endif %}
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="userDropdown"
            >
              {% if user.is_authenticated %}
              <a href="{% url 'checkout:my_account' %}" class="dropdown-item"
                >My Account</a
              >
              <a href="{% url 'books:logout' %}" class="dropdown-item"
                >Logout</a
              >
              {% else %}
              <a href="{% url 'books:login' %}" class="dropdown-item">Login</a>
              <a href="{% url 'books:register' %}" class="dropdown-item"
                >Register</a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <!-- NAVBAR: CATEGORIES -->
      {% if not request.path == '/cart/' and not request.path == '/checkout/' %}
      <nav class="category-nav">
        <div class="container">
          <!-- Button for toggling the navbar -->
          <button class="navbar-toggler" type="button" aria-expanded="false">
            <span class="navbar-toggler-icon">&#9776;</span>
            <span class="navbar-close-icon">&times;</span>
          </button>
          <!-- The navigation list -->
          <ul class="nav justify-content-center">
            <!-- First Dropdown Item -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="{% url 'books:book_list_by_category' category_slug='fiction-adults' %}"
                id="fictionDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Fiction Books <i class="fas fa-chevron-down ml-1"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="fictionDropdown">
                <a
                  class="dropdown-item"
                  href="{% url 'books:book_list_by_subcategory' subcategory_slug='classics' %}"
                  >Classics</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'books:book_list_by_subcategory' subcategory_slug='crime-thriller' %}"
                  >Crime & Thriller</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'books:book_list_by_subcategory' subcategory_slug='historical-fiction' %}"
                  >Historical Fiction</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'books:book_list_by_subcategory' subcategory_slug='fantasy' %}"
                  >Fantasy</a
                >
              </div>
            </li>
            <!-- Second Dropdown Item -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="{% url 'books:book_list_by_category' category_slug='non-fiction' %}"
                id="nonFictionDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Non-Fiction Books <i class="fas fa-chevron-down ml-1"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="nonFictionDropdown">
                <a
                  class="dropdown-item"
                  href="{% url 'books:book_list_by_subcategory' subcategory_slug='art-craft-photography' %}"
                  >Art, Craft & Photography</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'books:book_list_by_subcategory' subcategory_slug='biography-true-stories' %}"
                  >Biography & True Stories</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'books:book_list_by_subcategory' subcategory_slug='food-drink' %}"
                  >Food & Drink</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'books:book_list_by_subcategory' subcategory_slug='foraging' %}"
                  >Foraging</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'books:book_list_by_subcategory' subcategory_slug='travel' %}"
                  >Travel</a
                >
              </div>
            </li>
            <!-- Third Dropdown Item -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="{% url 'books:book_list_by_category' category_slug='childrens-books' %}"
                id="childrenDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Children's Books <i class="fas fa-chevron-down ml-1"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="childrenDropdown">
                <a
                  class="dropdown-item"
                  href="{% url 'books:book_list_by_subcategory' subcategory_slug='activity-books' %}"
                  >Activity Books</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'books:book_list_by_subcategory' subcategory_slug='education' %}"
                  >Education</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'books:book_list_by_subcategory' subcategory_slug='childrens-fiction' %}"
                  >Fiction</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'books:book_list_by_subcategory' subcategory_slug='childrens-non-fiction' %}"
                  >Non-Fiction</a
                >
              </div>
            </li>
          </ul>
        </div>
      </nav>
      {% endif %}
    </header>
    {% endblock %} 
    
    {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
      <div
        class="alert {{ message.tags }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    </div>
    {% endif %} 
    
    {% block hero_content %} 
    {% endblock %} 
    
    {% block content %} 
    {% endblock %} 
    
    {% block page_footer %}
    <footer class="footer">
      <div class="container">
        <!-- Logo image -->
        <div class="d-flex justify-content-center logo-container">
          <a href="{% url 'books:index' %}">
            <!-- Logo text -->
            <div class="logo-text">
              <h1 class="main-title">The Literary Loft</h1>
              <p class="subtitle">There is no friend as loyal as a book</p>
            </div>
          </a>
        </div>

        <!-- Divider -->
        <hr class="footer-divider" />

        <!-- Footer content -->
        <div class="row">
          <!-- Shop Column -->
          <div class="col-md-3 mb-4">
            <h5>&nbsp;&nbsp; Shop</h5>
            <ul class="list-unstyled footer-nav">
              <!-- Adults Fiction Books -->
              <li class="footer-item dropdown">
                <a
                  class="footer-link dropdown-toggle"
                  href="{% url 'books:book_list_by_category' category_slug='fiction-adults' %}"
                  id="footerFictionDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Fiction Books <i class="fas fa-chevron-down ml-1"></i>
                </a>
                <div
                  class="dropdown-menu"
                  aria-labelledby="footerFictionDropdown"
                >
                  <a
                    class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug='classics' %}"
                    >Classics</a
                  >
                  <a
                    class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug='crime-thriller' %}"
                    >Crime & Thriller</a
                  >
                  <a
                    class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug='historical-fiction' %}"
                    >Historical Fiction</a
                  >
                  <a
                    class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug='fantasy' %}"
                    >Fantasy</a
                  >
                </div>
              </li>

              <!-- Adults Non-Fiction Books -->
              <li class="footer-item dropdown">
                <a
                  class="footer-link dropdown-toggle"
                  href="{% url 'books:book_list_by_category' category_slug='non-fiction' %}"
                  id="footerNonFictionDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Non-Fiction Books <i class="fas fa-chevron-down ml-1"></i>
                </a>
                <div
                  class="dropdown-menu"
                  aria-labelledby="footerNonFictionDropdown"
                >
                  <a
                    class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug='art-craft-photography' %}"
                    >Art, Craft & Photography</a
                  >
                  <a
                    class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug='biography-true-stories' %}"
                    >Biography & True Stories</a
                  >
                  <a
                    class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug='food-drink' %}"
                    >Food & Drink</a
                  >
                  <a
                    class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug='foraging' %}"
                    >Foraging</a
                  >
                  <a
                    class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug='travel' %}"
                    >Travel</a
                  >
                </div>
              </li>

              <!-- Children's Books -->
              <li class="footer-item dropdown">
                <a
                  class="footer-link dropdown-toggle"
                  href="{% url 'books:book_list_by_category' category_slug='childrens-books' %}"
                  id="footerChildrenDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Children's Books <i class="fas fa-chevron-down ml-1"></i>
                </a>
                <div
                  class="dropdown-menu"
                  aria-labelledby="footerChildrenDropdown"
                >
                  <a
                    class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug='activity-books' %}"
                    >Activity Books</a
                  >
                  <a
                    class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug='education' %}"
                    >Education</a
                  >
                  <a
                    class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug='childrens-fiction' %}"
                    >Fiction</a
                  >
                  <a
                    class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug='childrens-non-fiction' %}"
                    >Non-Fiction</a
                  >
                </div>
              </li>
            </ul>
          </div>

          <div class="col-md-3 mb-4">
            <h5>&nbsp;&nbsp; Other Links</h5>
            <ul class="list-unstyled footer-nav">
              <li class="footer-item">
                <a href="{% url 'books:about' %}" class="footer-link"
                  >Our Story</a
                >
              </li>
              <li class="footer-item">
                <a
                  href="{% url 'books:about' %}#why-your-purchase-matters"
                  class="footer-link"
                  >Why Your Purchase Matters</a
                >
              </li>
              <li class="footer-item">
                <a
                  href="{% url 'books:about' %}#meet-the-team"
                  class="footer-link"
                  >Meet the Team</a
                >
              </li>
              <li class="footer-item">
                <a
                  href="{% url 'books:about' %}#frequently-asked-questions"
                  class="footer-link"
                  >FAQ</a
                >
              </li>
            </ul>
          </div>

          <!-- Help and Contact Column -->
          <div class="col-md-3 mb-4">
            <h5>Help and Contact</h5>
            <ul class="list-unstyled">
              <li><a href="#">Delivery</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="{% url 'books:contact' %}">Contact Us</a></li>
            </ul>
          </div>

          <!-- Newsletter Column -->
          <div class="col-md-3 mb-4">
            <h5>Receive News, Updates and Special Offers</h5>
            <form>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter your email address"
                  id="newsletter-email"
                />
              </div>
              <button type="submit" class="btn btn-subscribe btn-block">
                Subscribe
              </button>
            </form>
          </div>
        </div>

        <!-- Social Media Icons -->
        <div class="row justify-content-center mt-4">
          <div class="col-auto social-icons">
            <a href="#" title="Twitter"
              ><i class="fa-brands fa-square-x-twitter"></i
            ></a>
            <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>

      <!-- Copyright Section -->
      <div class="footer-bottom mt-4">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <p class="mb-0">&copy; {% now "Y" %} The Literary Loft</p>
              <p class="mb-0">
                All materials used by Victoria Kalenik only for educational
                purposes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %} {% block postloadjs %}
    <!-- Bootstrap JS  and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <!-- Initialize Toast -->
    <script>
      $(document).ready(function () {
        $(".toast").toast({
          autohide: false, // Disable auto-hide
        });
      });
    </script>
    {% endblock %}
  </body>
</html>
