{% extends 'base.html' %}
{% load static %}

{% block title %}All books - The Literary Loft{% endblock %}

{% block extra_title %}
{% if category %}{{ category.display_name }} Books{% elif subcategory %}{{ subcategory.name }} Books{% else %}All Books{% endif %}
{% endblock %}

{% block meta_description %}
<meta name="description" 
content="Discover a wide range of {% if category %}{{ category.display_name }}
{% elif subcategory %}{{ subcategory.name }}{% else %}books{% endif %} at The Literary Loft.
Browse our collection and enjoy free UK shipping on orders over £20." />
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/book_list.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <!-- Breadcrumb navigation -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'books:book_list' %}"
                aria-label="all books list">All Books</a>
            </li>
            {% if category %}
            <li class="breadcrumb-item active" aria-current="page">{{ category.display_name }}</li>
            {% endif %}
            {% if subcategory %}
            <li class="breadcrumb-item">
                <a href="{% url 'books:book_list_by_category' category_slug=subcategory.category.slug %}"
                aria-label="category">{{ subcategory.category.display_name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ subcategory.name|title }}</li>
            {% endif %}
        </ol>
    </nav>

    {% if user.is_staff %}
    <div class="text-right mb-3">
        <a href="{% url 'books:add_book' %}" class="btn btn-primary" aria-label="add new book">Add New Book</a>
    </div>
    {% endif %}

    {% if not category and not subcategory %}
    {% for main_category in categories %}
    <div class="category-section mb-4">
        <h2 class="category-name text-center mb-3">
            {{ main_category.display_name }}
            <div class="dropdown d-inline-block">
                <button class="btn btn-link dropdown-toggle" type="button"
                id="{{ main_category.slug }}Dropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                aria-label="category dropdown"></button>
                <div class="dropdown-menu" aria-labelledby="{{ main_category.slug }}Dropdown">
                    {% for subcategory in main_category.subcategories.all %}
                    <a class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug=subcategory.slug %}"
                    aria-label="subcategory">{{ subcategory.name|title }}</a>
                    {% endfor %}
                </div>
            </div>
        </h2>
        <div class="row book-grid">
            {% for book in books %}
            {% if book.subcategory.category == main_category %}
            {% include 'books/book_item.html' with book=book %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h2 class="text-center mb-4">
        {% if category %}
            {{ category.display_name }}
            <div class="dropdown d-inline-block">
                <button class="btn btn-link dropdown-toggle"
                type="button" id="{{ category.slug }}Dropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                aria-label="category dropdown"></button>
                <div class="dropdown-menu" aria-labelledby="{{ category.slug }}Dropdown">
                    {% for subcategory in category.subcategories.all %}
                    <a class="dropdown-item"
                    href="{% url 'books:book_list_by_subcategory' subcategory_slug=subcategory.slug %}"
                    aria-label="subcategory">{{ subcategory.name|title }}</a>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            {{ subcategory.name|title }}
        {% endif %}
    </h2>
    <div class="row book-grid">
        {% for book in books %}
        {% include 'books/book_item.html' with book=book %}
        {% endfor %}
    </div>
    {% endif %}
    {% if not books %}
    <p class="text-center">No books available.</p>
    {% endif %}
</div>
{% endblock %}