{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>All books - The Literary Loft</title>
{% endblock %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/book_list.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Our Books</h1>
    
    {% if fiction_books %}
        <h2 class="text-center mb-4">Fiction Books</h2>
        <div class="row book-grid">
            {% for book in fiction_books %}
                {% include 'books/book_item.html' with book=book %}
            {% endfor %}
        </div>
    {% endif %}

    {% if non_fiction_books %}
        <h2 class="text-center mb-4">Non-Fiction Books</h2>
        <div class="row book-grid">
            {% for book in non_fiction_books %}
                {% include 'books/book_item.html' with book=book %}
            {% endfor %}
        </div>
    {% endif %}

    {% if children_books %}
        <h2 class="text-center mb-4">Children's Books</h2>
        <div class="row book-grid">
            {% for book in children_books %}
                {% include 'books/book_item.html' with book=book %}
            {% endfor %}
        </div>
    {% endif %}

    {% if books %}
        <div class="row book-grid">
            {% for book in books %}
                {% include 'books/book_item.html' with book=book %}
            {% endfor %}
        </div>
    {% endif %}

    {% if not fiction_books and not non_fiction_books and not children_books and not books %}
        <p class="text-center">No books available.</p>
    {% endif %}
</div>
{% endblock %}