{% extends "base.html" %}
{% load static %}

{% block extra_title %}Contact Us{% endblock %}

{% block meta_description %}
Get in touch with The Literary Loft for any inquiries, support, or book recommendations. We're here to help you find your next great read.
{% endblock %}

{% block content %}
    <!-- Your content for the contact page -->
    <div class="container pt-5">
        <h1>Contact Us</h1>
        <p>Get in touch with us through the following methods.</p>
        <!-- Add more content here -->
    </div>
{% endblock %}
