.book-detail {
  padding-top: 20px;
}

.book-header {
  margin-bottom: 20px;
}

.book-cover {
  text-align: center;
}

.book-cover img {
  max-width: 100%;
  height: auto;
}

.book-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.book-info p,
.book-summary h2 {
  margin-bottom: 10px;
}

.book-summary h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.book-price {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4a4a4a;
  margin: 15px 0;
}

.book-tabs {
  margin-bottom: 20px;
}

.book-tabs .nav-tabs {
  margin-bottom: 0;
  border-bottom: 1px solid #dee2e6;
}

.book-tabs .tab-content {
  padding: 20px;
  border: 1px solid #dee2e6;
  border-top: none;
  background-color: #fff;
}

.book-tabs .nav-item {
  margin-bottom: -1px;
}

.book-tabs .nav-link {
  border: 1px solid #dee2e6;
  border-bottom: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 0.5rem 1rem;
  color: #495057;
  background-color: #f8f9fa;
  margin-right: 2px;
}

.book-tabs .nav-link:hover {
  background-color: #e9ecef;
}

.book-tabs .nav-link.active {
  background-color: #fff;
  border-bottom-color: #fff;
}

.col-12 {
  margin-bottom: 1rem;
}

.breadcrumb {
  background-color: #dee1e4;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.breadcrumb-item a {
  color: #007bff;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #6c757d;
}

.add_to_cart {
  color: #fff;
  background-color: #4d5252;
  border-color: #4d5252;
  font-weight: bolder;
}

.add_to_cart:hover {
  color: #4d5252;
  background-color: #c8ccd2;
  border-color: #9da0a5;
}

.btn-danger {
  font-weight: bold;
}

/* ------------------------------ Responsiveness ---------------------------- */ 
@media (max-width: 768px) {
  .book-cover img {
    max-width: 70%;
  }

  .book-info h1 {
    font-size: 1.5rem;
  }

  .book-tabs .nav-link {
    padding: 0.5rem 0.6rem;
  }
}
