.my-account {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 50px;
    color: #4d5252;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 1);
}

.order-history,
.profile-info {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 3rem;
    color: #4d5252;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 1);
}

.save-changes-btn,
.change-password-btn {
  color: #fff;
  background-color: #4d5252;
  border-color: #4d5252;
  /* font-weight: bolder; */
  margin-top: 1.5rem;
}

.save-changes-btn:hover,
.change-password-btn:hover {
  color: #4d5252;
  background-color: #c8ccd2;
  border-color: #c8ccd2;
}

/* Remove the default blue outline and add a custom border on focus */
.form-control:focus {
    outline: none; 
    box-shadow: none; 
    border-color: #4d5252; 
}

/* Add a subtle background color on focus */
.form-control:focus {
    background-color: #f7f7f7; 
}

/* Style for the email address */
.user-email {
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem; 
    font-weight: 700; 
    color: #333333; 
    margin: 0; 
    display: block; 
}

/* Optional: Add some padding for more emphasis */
.user-email-container {
    padding: 10px;
    background-color: #f5f5f5; 
    border-radius: 5px; 
    margin-bottom: 15px; 
}


/* -------------------------------Responsive design------------------------- */
/* -------------------------------MEDIUM DISPLAYS--------------------------- */  
@media (max-width: 768px) {  
    .my-account {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 0;        
    }
    .profile-info {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    
    .order-history {
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .save-changes-btn {
        margin-top: .5rem;
    }
    
}