.successful-order {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 50px;
    color: #4d5252;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 1);
}

.order-summary-table-heading {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4d5252;
}

.order-number {
    font-weight: bold;
    color: #388E3C; 
    font-size: 1.2rem; 
    background-color: #f0f0f0; 
    padding: 2px 5px;
    border-radius: 3px;
}

.order-summary {
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* -------------------------------Responsive design------------------------- */
/* -------------------------------MEDIUM DISPLAYS--------------------------- */  
@media (max-width: 768px) {
  .successful-order {
    font-size: 1.5rem;
  }
    .order-number {
        font-size: .9rem;
    }
    .order-summary {
        font-size: 1.5rem;
    }
    .table-responsive {
    margin-top: 20px;
    font-size: .75rem;
}
}
